* {
    user-select: none; /* Prevent text selection */
    cursor: default; /* Ensure the cursor doesn't change to text-editing mode */
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 1rem; /* Spacing between items */
    padding: 1rem;
    list-style: none;
}

.all-page {
    padding: 2rem;
    text-align: center;
}

.all-page h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.pokemon-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 1rem;
}

.pokemon-item {
    padding: 0.5rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    text-transform: capitalize;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-sort-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.filter-dropdown,
.sort-dropdown {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000000;
    font-size: 1rem;
    cursor: pointer;
}

.filter-dropdown:focus,
.sort-dropdown:focus {
    outline: none;
    border-color: #666;
}

@media (max-width: 1024px) {
    .movies-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
}

@media (max-width: 768px) {
    .movies-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
}

@media (max-width: 480px) {
    .movies-grid {
        grid-template-columns: 1fr; /* 1 column on very small screens */
    }
}