.back-to-top {
    position: fixed;
    bottom: 1rem; /* Distance from the bottom of the screen */
    left: 1rem; /* Distance from the left of the screen */
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;

    /* Center the arrow */
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top:hover {
    background-color: #7a2c30;
}

.back-to-top:active {
    transform: scale(0.95);
}